inside-color={{base00-hex}}aa
ring-color={{base01-hex}}
text-color={{base05-hex}}
key-hl-color={{base05-hex}}

layout-text-color={{base05-hex}}
layout-bg-color=00000000

inside-clear-color={{base0D-hex}}aa
ring-clear-color={{base0D-hex}}
text-clear-color={{base05-hex}}

inside-caps-lock-color={{base03-hex}}aa
ring-caps-lock-color={{base03-hex}}
text-caps-lock-color={{base05-hex}}
caps-lock-key-hl-color={{base05-hex}}
caps-lock-bs-hl-color={{base03-hex}}

inside-ver-color={{base00-hex}}aa
ring-ver-color={{base00-hex}}
text-ver-color={{base05-hex}}

inside-wrong-color={{base03-hex}}aa
ring-wrong-color={{base03-hex}}
text-wrong-color={{base08-hex}}

